.listItem {
  display: inline-block !important;
  padding: 0px;
  width: auto !important;
}

.link {
  color: inherit;
  padding: 0.9375rem;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}
