.footer {
  padding: 0;
  text-align: center;
  display: flex;
  z-index: 2;
  position: relative;
}

.left {
  float: left !important;
  display: block;
}

.right {
  padding: 15px 0;
  margin: 0;
  float: right !important;
}
