@code {

    // DO NOT CHANGE "__builder"
    // ReSharper disable InconsistentNaming
    // ReSharper disable once UnusedParameter.Local
    public static readonly RenderFragment<string> RenderLoadingThing = loadingMessage => __builder =>
    {
        //TODO: something better than this
        <p>@loadingMessage</p>
    };
}
