@using Wabbajack.Web.Utils
@code {

    // DO NOT CHANGE "__builder"
    // ReSharper disable InconsistentNaming
    // ReSharper disable once UnusedParameter.Local
    public static readonly RenderFragment<string> RenderMarkdown = markdown => __builder =>
    {
        <div class="markdown-body fixed-markdown-body px-3">
            @_insertMarkupString(markdown)
        </div>
    };

    // DO NOT CHANGE "__builder"
    // ReSharper disable InconsistentNaming
    // ReSharper disable once UnusedParameter.Local
    private static readonly RenderFragment<string> _insertMarkupString = markdown => __builder =>
    {
        __builder.AddContent(0, MarkdownUtils.MarkdownToMarkupString(markdown,LinkUtils.currentURL));
    };

}
