@page "/"

<div class="flex-grow">
    <div class="max-w-6xl mx-auto mt-20 text-center">
        <h1 class="font-title text-wabbajack-purple-light text-5xl">Wabbajack</h1>
        <h2 class="font-subtitle mt-2 text-gray-200 text-xl">An automated Modlist installer</h2>
        <div class="mt-8 max-w-4xl mx-auto w-full flex justify-center gap-3 px-3">
            <a class="bg-wabbajack-purple-dark hover:bg-wabbajack-purple-light text-xl rounded shadow hover:shadow-md py-1 flex-grow" href="https://github.com/wabbajack-tools/wabbajack/releases/latest/download/Wabbajack.exe">Download</a>
            <a class="bg-wabbajack-purple-dark hover:bg-wabbajack-purple-light text-xl rounded shadow hover:shadow-md py-1 flex-grow" href="https://wiki.wabbajack.org/">Wiki/Documentation</a>
            <a class="bg-wabbajack-purple-dark hover:bg-wabbajack-purple-light text-xl rounded shadow hover:shadow-md py-1 flex-grow" href="https://discord.gg/wabbajack">Discord</a>
        </div>
    </div>

    <div class="mt-10">
        <div class="flex flex-wrap gap-4 justify-center px-3">
            <div class="relative mb-5 pt-56 max-w-sm w-full">
                <section class="absolute top-6 bottom-0 left-0 right-0 bg-wabbajack-cards-background-base h-full w-full p-5">
                    <h3 class="mt-2 mb-3 text-xl text-center">Download Wabbajack</h3>
                    <p class="font-light">Click the Download link above to download the official Launcher from GitHub.</p>
                    <p class="font-light">Alternatively you can go the GitHub page directly and download Wabbajack.</p>
                </section>

                <div class="absolute top-0 bottom-0 left-1/2 right-1/2 bg-wabbajack-background-darker rounded-full text-center w-10 h-10"
                     style="transform: translateX(-50%)">
                    <p class="text-2xl">1</p>
                </div>
            </div>

            <div class="relative mb-5 pt-56 max-w-sm w-full">
                <section class="absolute top-6 bottom-0 left-0 right-0 bg-wabbajack-cards-background-base h-full w-full p-5">
                    <h3 class="mt-2 mb-3 text-xl text-center">Pick a Modlist</h3>
                    <p class="font-light">
                        Pick a Modlist from the <a href="@Gallery.Gallery.Route" class="hover:underline text-wabbajack-purple-light">Gallery</a> or the carousel below.
                        Be sure to read the README before choosing a Modlist.
                    </p>
                    <p class="font-light">
                        You can also use the Archive Search feature to browse through the Archives that will be downloaded.
                    </p>
                </section>

                <div class="absolute top-0 bottom-0 left-1/2 right-1/2 bg-wabbajack-background-darker rounded-full text-center w-10 h-10"
                     style="transform: translateX(-50%)">
                    <p class="text-2xl">2</p>
                </div>
            </div>

            <div class="relative mb-5 pt-56 max-w-sm w-full">
                <section class="absolute top-6 bottom-0 left-0 right-0 bg-wabbajack-cards-background-base h-full w-full p-5">
                    <h3 class="mt-2 mb-3 text-xl text-center">Install the Modlist</h3>
                    <p class="font-light">
                        Install the Modlist with Wabbajack.
                        Each Modlist has its own set of quirks so make sure to read the README before installation.
                    </p>
                    <p class="font-light">
                        Wabbajack is fully automated and only requires user interactions before and after the installation.
                    </p>
                </section>

                <div class="absolute top-0 bottom-0 left-1/2 right-1/2 bg-wabbajack-background-darker rounded-full text-center w-10 h-10"
                     style="transform: translateX(-50%)">
                    <p class="text-2xl">3</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-10">
    <ModlistCarousel />
</div>

@* <div class="mt-20 max-w-6xl mx-auto px-3 lg:px-0"> *@
@*     <div class="w-full bg-black-700 rounded p-3"> *@
@*         <div class="max-w-prose mx-auto pt-1"> *@
@*             <p class="font-semibold text-lg">About Wabbajack</p> *@
@*             <p> *@
@*                 Wabbajack can reproduce an entire modding setup on another machine without bundling any assets or re-distributing any mods. *@
@*             </p> *@
@*             <p> *@
@*                 Instead of creating an archive with all mods, Wabbajack creates a list of instructions to replicate the setup. *@
@*                 These instructions range from <i>Download mod X from Nexus Mods</i> to <i>Automatically create BSAs containing the following files</i>. *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
