$primary: #BB86FC !default;
$primary-variant: #3700B3 !default;
$secondary: #03DAC6 !default;
$complementary: #C7FC86 !default;
$analogous-1: #868CFC !default;
$analogous-2: #F686FC !default;
$error: #CF6679 !default;
$triadic-1: #FC86C7 !default;
$triadic-2: #FCBB86 !default;
$background: #121212 !default;

$elevation0: "#121212" !default; //aka background
$elevation1: "#1E1E1E" !default;
$elevation2: "#222222" !default;
$elevation3: "#242424" !default;
$elevation4: "#272727" !default;
$elevation6: "#2C2C2C" !default;
$elevation8: "#2D2D2D" !default;
$elevation12: "#323232" !default;
$elevation16: "#353535" !default;
$elevation24: "#383838" !default;

.primary {
  color: $primary;
}

.primary-variant {
  color: $primary-variant;
}

.secondary {
  color: $secondary;
}

.complementary {
  color: $complementary;
}

.analogous-1 {
  color: $analogous-1;
}

.analogous-2 {
  color: $analogous-2;
}

.error {
  color: $error;
}

.triadic-1 {
  color: $triadic-1;
}

.triadic-2 {
  color: $triadic-2;
}

.elevation0 {
  background-color: $elevation0;
}

.elevation1 {
  background-color: $elevation1;
}

.elevation2 {
  background-color: $elevation2;
}

.elevation3 {
  background-color: $elevation3;
}

.elevation4 {
  background-color: $elevation4;
}

.elevation6 {
  background-color: $elevation6;
}

.elevation8 {
  background-color: $elevation8;
}

.elevation12 {
  background-color: $elevation12;
}

.elevation16 {
  background-color: $elevation16;
}

.elevation24 {
  background-color: $elevation24;
}

